@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;

    /* border: 0.0000001px solid red; */
}

html {
    scroll-behavior: smooth;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

button.normal {
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s;
}



/* .h-ruler {
    margin: 0;
    border: 0.01px solid rgb(48, 48, 48);
} */

/* Header section */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
    background-color: #dee0e9;
    box-shadow: 0 5px 15px rgba(59, 59, 59, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-bar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#nav-bar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #174979;
    transform: 0.3s ease;
}

#nav-bar li a:hover,
#nav-bar li a.active {
    color: #088178;
}

#nav-bar li a.active::after,
#nav-bar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.logo {
    height: 40px;
}


/* Home section */
#hero {
    background-image: url(Assets/Images/__2Untitled.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: top 0% right 0;
    background-size: cover;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
    font-size: 2.5rem;
}

#hero h1 {
    font-size: 4rem;
    color: #088178;
}

#hero p {
    font-size: 25px;
    color: #353535;
}

#hero button {
    background-image: url(Assets/Images/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 15px 60px 14px 60px;
    font-size: 20px;
    background-repeat: no-repeat;
    font-weight: 700;
    cursor: pointer;
}


/* hero section features */
#features .features-box {
    width: 180px;
    text-align: center;
    padding: 25px 10px;
    border: 1px solid #cce7d0;
    border-radius: 5px;
    margin: 20px 25px;
    box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.03);

}

.features-box img {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
}

.features-box h4 {
    font-weight: 500;
    font-size: 20px;
    padding: 9px 8px;
    line-height: 1;
    color: #088178;
    border-radius: 4px;
    display: inline-block;
}

#features .features-box:hover {
    box-shadow: 10px 10px 35px rgba(26, 25, 25, 0.164);
}

#features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#features .easy-shopping {
    background-color: #f8e0e5;
}

#features .order_online {
    background-color: #d8fcf9;
}

#features .save_money {
    background-color: #dce7fc;
}

#features .happy-sell {
    background-color: #fded91;
}

#features .full-support {
    background-color: #cbfafd;
}

#features .promotion {
    background-color: #facebd;
}




/* = Products Section = */
#product1 {
    text-align: center;
}

#product1 p {
    font-size: 18px;
    margin-top: 1px;
}

#product1 .product-item {
    /* background-color: #eeeeee; */
    width: 20%;
    min-width: 250px;
    padding: 10px 15px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 15px;
    transition: 0.2s ease;
    position: relative;
}

#product1 .product-item:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.089);
}

#product1 .product-item img {
    width: 100%;
    border-radius: 20px;
}

#product1 .product-item .item-description {
    text-align: start;
    padding: 10px 0;
}

#product1 .product-item .item-description span {
    font-size: 15px;
    color: #660636;
}

#product1 .product-item .item-description h5 {
    padding-top: 6px;
    color: #1a1a1a;
    font-size: 15px;
}

#product1 .product-item .item-description .rating-star {
    color: gold;
    padding: 2px 0;
    font-size: 16px;
}

#product1 .product-item .item-description h4 {
    padding-top: 6px;
    font-size: 15px;
    font-weight: 600;
    color: #088178;
}

#product1 .product-item .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 700;
    background-color: #e9f8eb;
    color: #088178;
    border: 1px solid #d9f1dc;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .product-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

/* = Banner Section = */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    outline: none;
    transition: 0.3s ease;
    /* background-image: url(Assets/Images/banner/summer.png); */
    /* border-bottom: 0.1px solid rgb(44, 44, 44); */
}

.banner {
    background-image: url(Assets/Images/banner/summer.png);
    margin: 0 0;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 10px 10px;
    flex-wrap: wrap;
    margin: 0 0.1px;


}

/* Banner related additional info */
/* #banner h4 {
    color: #000000;
    padding: 5px 0;
    font-size: 50px;
    z-index: 99;
    margin-top: 60px;
}
#banner h2 {
    color: #00ffff;
    padding: 10px 0;
    font-size: 30px;
}
#banner h2 span {
    color: #00008B;
} */

/* 

========================================================================

 */

#small-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
/*  */

#small-banner .banner-box-container1 {
    width: 50%;
    height: auto;
    padding: 5px 10px;
    /* border: 1px solid red; */
}

#small-banner .banner-box-container2 {
    width: 50%;
    height: auto;
    padding: 5px 10px;
    /* border: 1px solid red; */
}

/*  */

/* banner content 1 */
.small-banner-content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(Assets/Images/banner/Edited.png);
    /* min-width: 600px; */
    height: 50vh;
    background-size: cover;
    background-position: center;
    opacity: 0.89;

    padding: 35px;
    margin-top: 10px;

    /* temp */
    min-width: 50%;
}

#small-banner h4 {
    color: white;
    font-size: 30px;
    font-weight: 500;

}

#small-banner h2 {
    color: rgb(0, 153, 255);
    font-size: 40px;
    font-weight: 800;
}

#small-banner span {
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 15px;
}

#small-banner h3 {
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 15px;
}

#small-banner .white {
    font-size: 14px;
    font-weight: 600;
    padding: 12px 30px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

#small-banner .small-banner-content1:hover button {
    background-color: #088178;
    color: white;
    border: 1px solid #088178;
    box-shadow: 1px 1px 5px #6b6b6b;
    outline: none;
}


/* banner content 2 */
.small-banner-content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(Assets/Images/banner/shirts-hangged.jpg);
    /* min-width: 600px; */
    height: 50vh;
    background-size: cover;
    background-position: center;
    opacity: 0.84;

    margin-top: 10px;
    padding: 35px;

    /* temp */
    min-width: 50%;
}

#small-banner .small-banner-content2 h4 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 600;
}

#small-banner .small-banner-content2 h2 {
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-weight: 800;
}

#small-banner .small-banner-content2 span {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 15px;
}

#small-banner .small-banner-content2 h3 {
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 15px;
}

#small-banner .small-banner-content2 .white {
    font-size: 14px;
    font-weight: 600;
    padding: 12px 30px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

#small-banner .small-banner-content2:hover button {
    background-color: #088178;
    color: white;
    border: 1px solid #088178;
    box-shadow: 1px 1px 5px #6b6b6b;
    outline: none;
}