*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* border: 0.0001px solid red; */

}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.container-main{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 55px;
    padding: 2px 1px;
    display: flex;
    margin: 0.0101014px 0;
    border: 0.1px solid rgba(157, 157, 157, 0.457);
    background-color: rgb(19, 153, 255);
    position: fixed;
}
.logo{
    cursor: pointer;
}
.logo img{
    width: 150px;
    height: 50px;
    margin:0px 70px ;
}

.search-input{
    align-items: center;
    padding: 0 30px;
    position: relative;
    display: flow-root;
    flex-wrap: wrap;
    margin: 0 40px;
    /* border: 0.1px solid rgb(0, 0, 0); */
}
.search-input input{
    width: 400px;
    color: black;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;

    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.nav-bar {
    width: 100%;
    height: 50px;
    float: right;
   
}
.nav-bar ul {
    display: flex;
    
}
.nav-bar ul li {
    justify-content: space-between;
    list-style: none;
    padding: 15px 25px;
    margin: 0 14px;
}
.nav-bar ul li a{
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}

.nav-bar a:hover{
    color: rgb(255, 255, 255);    
}